body {
    background-color: rgb(12, 16, 27);
    color: #fff;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: underline;
}

p {
    text-align: center;
    font-weight: 1000;
}

/*imagen*/
picture {
    display: flex;
    justify-content: center;
}

picture img {
    width: 100%;
}

/*opciones*/
#opciones {
    text-align: center;
    list-style: none;
}

#opciones li {
    display: inline-block;
    padding: 10px;
}

.boton {
    text-decoration: none;
    color: #fff;
    border: 2px solid rgb(163, 149, 149);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.boton:hover {
    background-color: #686464;
}

/*espada mortal*/
#sen body {
    background-color: #74370e;
}

#senpimagen picture {
    display: block;
    justify-content: center;
}

#senpimagen picture img {
    width: 70%;
}

