/*pag inicial*/
body {
    background-color: rgb(12, 16, 27);
    
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: underline;
    color: #fff;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: underline;
    color: #fff;
}

p {
    text-align: center;
    font-weight: 1000;
    color: #fff;
}

/*imagen*/
picture {
    display: flex;
    justify-content: center;
}

picture img {
    width: 100%;
}

/*opciones*/
#opciones {
    text-align: center;
    list-style: none;
}

#opciones li {
    display: inline-block;
    padding: 10px;
}

.boton {
    text-decoration: none;
    color: #fff;
    border: 2px solid rgb(163, 149, 149);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.boton:hover {
    background-color: #686464;
}

/*espada mortal*/
#senpo {
    background-color: #881d0f;
}
.sen {
    color: #f1dcaf;
}
#senpimagen {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 60%;
    border: 5px solid #ec2e15;
    border-radius: 5px;
    padding: 2px;
}
#senboton {
    text-decoration: none;
    color: #f1dcaf;
    border: 2px solid rgb(206, 47, 47);
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}
#senboton:hover {
    background-color: #8f2618;
}

/*loto del palacio*/
#valle {
    background-color: #212129;
}
.sum {
    color: rgb(202, 202, 202);
}
#vallesumer {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 60%;
    border: 5px solid #1f1e1e;
    border-radius: 5px;
    padding: 2px;
}
#valleboton {
    text-decoration: none;
    color: rgb(202, 202, 202);
    border: 2px solid #afaeae;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}
#valleboton:hover {
    background-color: #3f3737;
}

/*piedra fragante*/
#mibu {
background-color: #28292e;
}
.mib {
color: #b3b1ae;
}
#aldea {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 50%;
    border: 5px solid #1f1e1e;
    border-radius: 5px;
    padding: 2px;
}
#mibot {
    text-decoration: none;
    color: rgb(202, 202, 202);
    border: 2px solid #3b423b;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}
#mibot:hover {
    background-color: #686464;
}